.main-nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
  text-transform: uppercase;
}

header {
  min-height: 3.5em;
  max-width: 160em;
  display: flex;
  padding: 0;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

label.open-left-sidebar-button {
  background-color: #ffffff;
}

ul,
li {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

a.logo {
  font-size: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

.primary-menu {
  position: absolute;
  margin-left: 1em;
  overflow: hidden;
}
.primary-menu a {
  padding: 0.5em 0.5em;
  margin-right: 0.5em;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
.primary-menu a:hover {
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 4px;
}
.primary-menu #left-sidebar-search,
.primary-menu .hide-on-desktop-menu,
.primary-menu .hide-on-desktop-icons,
.primary-menu .nav-icon.search {
  display: none;
}

.secondary-menu {
  margin-right: 1em;
}
.secondary-menu a {
  padding: 0.25em 0.25em;
  margin-left: 0.5em;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
.secondary-menu a a:hover {
  cursor: pointer;
  border: 0px;
}
.secondary-menu .nav-icon {
  min-height: 1.6rem;
  min-width: 1.6rem;
}
.secondary-menu .nav-icon.search {
  display: block;
}

.site-logo {
  position: absolute;
  left: 50%;
  top: 30%;
  height: 1.2rem;
  transform: translateX(-50%);
}

#left-sidebar-active,
.open-left-sidebar-button,
.close-left-sidebar-button {
  display: none;
}

@media only screen and (max-width: 51.5625em) {
  .nav-icon.menu-search {
    display: inline-block;
    margin-left: 0.7em;
    min-height: 2.375rem;
    min-width: 2.375rem;
  }
  .primary-menu {
    overflow-y: auto;
    margin-left: 0;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #000000;
    transition: 0.3s ease-out;
  }
  .primary-menu .primary-menu-header {
    color: #000000;
    background-color: #ffffff;
  }
  .primary-menu .primary-menu-header:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
  }
  .primary-menu .primary-menu-header:hover svg {
    fill: #ffffff;
    border-right: 1 px solid #000000;
  }
  .primary-menu label {
    justify-content: flex-end;
  }
  .primary-menu label h2 {
    font-family: "open-sans-bold";
    position: absolute;
    top: 1.25em;
    left: 45%;
  }
  .primary-menu label .nav-icon.close {
    margin: 0.5em 0.7em;
    min-height: 2rem;
    min-width: 2rem;
  }
  .primary-menu .nav-icon.search {
    display: block;
    position: absolute;
    margin: 0.9em;
    fill: #757575;
  }
  .primary-menu #left-sidebar-search {
    display: block;
    width: 100%;
    padding: 1.1em 1.2em 1em 3.3em;
    color: #757575;
    background-color: #ffffff;
    font-family: "open-sans-medium";
    font-size: 0.875rem;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    border-radius: 0px;
  }
  .primary-menu #left-sidebar-search:focus {
    outline: none !important;
  }
  .primary-menu #left-sidebar-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  .primary-menu a {
    font-size: 0.875rem;
    padding: 1.2em 1.2em;
    margin-right: 0em;
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid #000000;
    border-left: 0px;
    border-radius: 0px;
  }
  .primary-menu a:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid #000000;
    border-left: 0px;
    border-radius: 0px;
  }
  .primary-menu ul {
    flex-direction: column;
  }
  .primary-menu ul li {
    width: 100%;
  }
  .primary-menu ul.hide-on-desktop-menu {
    display: flex;
  }
  .primary-menu ul.hide-on-desktop-menu a {
    border-bottom: 0px solid #ff0000;
  }
  .primary-menu ul.hide-on-desktop-menu .first-link-with-margin {
    margin-top: 3.5em;
  }
  .primary-menu ul.hide-on-desktop-menu .last-link-with-margin {
    margin-bottom: 3.5em;
  }
  .primary-menu .hide-on-desktop-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #c4c4c4;
  }
  .primary-menu .hide-on-desktop-icons .hide-on-desktop-icons-list {
    display: flex;
    flex-direction: row;
  }
  .primary-menu .hide-on-desktop-icons img {
    margin: 1em 0.2em 1em 0.2em;
  }
  .open-left-sidebar-button,
  .close-left-sidebar-button {
    display: flex;
  }
  .close-left-sidebar-button {
    border-bottom: 1px solid #000000;
  }
  #left-sidebar-active:checked ~ .primary-menu {
    left: 0;
  }
  #left-sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.35);
  }
  .secondary-menu a {
    font-size: 0;
    border: 0px;
  }
  .secondary-menu a svg {
    min-height: 1.75rem;
    min-width: 1.75rem;
  }
  .secondary-menu .nav-icon.search {
    display: none;
  }
  .nav-icon.saved-items,
  .nav-icon.account {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .primary-menu {
    width: 100%;
    box-shadow: none;
  }
}
/* 
* {
  outline: 1px solid red;
}
*/
body,
html {
  box-sizing: border-box;
  font-family: "open-sans-medium";
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "open-sans-medium";
  font-style: italic;
  src: url(../../font/OpenSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "open-sans-medium-italic";
  font-style: italic;
  src: url(../../font/OpenSans-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: "open-sans-bold";
  font-style: normal;
  src: url(../../font/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "open-sans-bold-italic";
  font-style: italic;
  src: url(../../font/OpenSans-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "open-sans-condensed-extrabold-italic";
  font-style: italic;
  src: url(../../font/OpenSans-Condensed-ExtraBoldItalic.ttf) format("truetype");
}
.hero-image {
  position: absolute;
  top: 2.8rem;
  left: 0;
  background: url("../images/hero-image-01.webp") no-repeat;
  background-color: #ffffff;
  background-size: 1450px;
  width: 100%;
  height: 46.875rem;
  background-position-x: 50%;
  background-position-y: 50%;
  z-index: -1;
  border-bottom: 1px solid #000000;
}
.hero-image .hero-content {
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  width: 80%;
  text-wrap: wrap;
  text-transform: uppercase;
  text-align: center;
  transform: translateX(-50%);
}
.hero-image .hero-content h1 {
  font-family: "open-sans-condensed-extrabold-italic";
  font-size: 1.7rem;
  line-height: 1.8rem;
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.hero-image .hero-content a {
  font-family: "open-sans-medium";
  font-size: 0.8rem;
  line-height: 5rem;
  padding: 0.5rem 2rem;
  color: #000000;
  background-color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 1px solid #000000;
  border-radius: 0.2rem;
}
.hero-image .hero-content a:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 0.2rem;
}

@media only screen and (max-width: 68.75em) {
  .hero-image {
    background-size: 1200px;
    height: 700px;
  }
}
@media only screen and (max-width: 51.5625em) {
  .hero-image {
    background-size: 1000px;
    background-position-y: 55%;
    height: 650px;
  }
}
@media only screen and (max-width: 42.5em) {
  .hero-image {
    background-size: 800px;
    height: 600px;
    background-position-y: 55%;
  }
}
@media only screen and (max-width: 34.375em) {
  .hero-image {
    background-size: 600px;
    height: 550px;
    background-position-y: 90%;
  }
}
@media only screen and (max-width: 26.25em) {
  .hero-image {
    background-size: 450px;
    height: 500px;
    background-position-y: 15%;
  }
}/*# sourceMappingURL=main.css.map */