.main-nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  position: absolute;
}

header {
  height: 3em;
  max-width: 75em; // 1200px
  margin: auto;
  padding: 0;

  font-family: "open-sans-medium";
  font-size: 0.875rem; // 14px

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-icon:hover {
  fill: $main-color;
}

.nav-icon.menu-search {
  display: none;
}

.primary-menu {
  margin-left: 0.5em;
}

.secondary-menu {
  margin-right: 0.5em;
}

.active {
  color: $main-color;
}

.site-logo {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  height: 1.4rem; // 20px
}

a {
  padding: 0.5em 0.5em; // 8px 8px
  text-decoration: none;
  color: $text-color-1;
  &:hover {
    color: $main-color;
  }
}

ul,
li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  white-space: nowrap;
}

@media only screen and (max-width: 51.5625em) {
  .nav-icon.menu-search {
    display: inline-block;
    margin-left: 0.5em;
    min-height: 2.375rem; //38px
    min-width: 2.375rem; //38px
  }

  .primary-menu {
    display: none;
  }

  .secondary-menu {
    margin-right: 0.5em;

    svg {
      min-height: 1.75rem; //28px
      min-width: 1.75rem; //28px
    }
  }

  a {
    font-size: 0;
    padding: 0;
    text-decoration: none;
    color: $text-color-1;
    &:hover {
      color: $main-color;
    }
  }

  .nav-icon.search,
  .nav-icon.account {
    display: none;
  }
}
