.hero-image {
  position: absolute;
  left: 0;
  height: 46.875rem; //750px
  width: 100%;
  z-index: -1;
  background-color: $secondary-color;
  border-bottom: 1px solid $border-color-01;

  &.first {
    top: 2.8rem;
    background: url("../images/hero-image-1.avif") no-repeat;
    background-size: 1450px;
    background-position-x: 50%;
    background-position-y: 50%;
  }

  &.second {
    top: 46.875rem + 2.8rem;
    background: url("../images/hero-image-2.avif") no-repeat;
    background-size: 1450px;
    background-position-x: 50%;
    background-position-y: 60%;
  }

  &.third {
    top: 2 * 46.875rem + 2.8rem;
    background: url("../images/hero-image-3.avif") no-repeat;
    background-size: 1450px;
    background-position-x: 50%;
    background-position-y: 55%;
  }

  &.fourth {
    top: 3 * 46.875rem + 2.8rem;
    background: url("../images/hero-image-4.avif") no-repeat;
    background-size: 1450px;
    background-position-x: 50%;
    background-position-y: 50%;
  }
}

.hero-content {
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  width: 80%;
  text-wrap: wrap;
  text-transform: uppercase;
  text-align: center;
  transform: translateX(-50%);

  h1 {
    font-family: "open-sans-condensed-bold";
    font-size: 1.7rem;
    line-height: 1.8rem;
    color: $main-color;
    user-select: none;
  }

  a {
    font-size: 0.8rem;
    line-height: 5rem;
    padding: 0.5rem 2rem;
    color: $main-color;
    background-color: $secondary-color;
    user-select: none;
    border: 1px solid $border-color-01;
    border-radius: 0.2rem;

    &:hover {
      cursor: pointer;
      color: $secondary-color;
      background-color: $main-color;
      border: 1px solid $border-color-01;
      border-radius: 0.2rem;
    }
  }
}

//1100px
@media only screen and (max-width: 68.75em) {
  .hero-image.first {
    background-size: 1200px;
    height: 43.75rem; //700px
  }

  .hero-image.second {
    top: 43.75rem + 2.8rem;
    background-size: 1200px;
    height: 43.75rem;
  }

  .hero-image.third {
    top: 2 * 43.75rem + 2.8rem;
    background-size: 1200px;
    height: 43.75rem;
  }

  .hero-image.fourth {
    top: 3 * 43.75rem + 2.8rem;
    background-size: 1200px;
    height: 43.75rem;
  }
}

//825px
@media only screen and (max-width: 51.5625em) {
  .hero-image.first {
    background-size: 1000px;
    height: 40.625rem; //650px
  }

  .hero-image.second {
    top: 40.625rem + 2.8rem;
    background-size: 1000px;
    height: 40.625rem;
  }

  .hero-image.third {
    top: 2 * 40.625rem + 2.8rem;
    background-size: 1000px;
    height: 40.625rem;
  }

  .hero-image.fourth {
    top: 3 * 40.625rem + 2.8rem;
    background-size: 1000px;
    height: 40.625rem;
  }
}

//680px
@media only screen and (max-width: 42.5em) {
  .hero-image.first {
    background-size: 800px;
    height: 37.5rem; //600px
  }

  .hero-image.second {
    top: 37.5rem + 2.8rem;
    background-size: 800px;
    height: 37.5rem;
  }

  .hero-image.third {
    top: 2 * 37.5rem + 2.8rem;
    background-size: 800px;
    height: 37.5rem;
  }

  .hero-image.fourth {
    top: 3 * 37.5rem + 2.8rem;
    background-size: 800px;
    height: 37.5rem;
  }
}

//550px
@media only screen and (max-width: 34.375em) {
  .hero-image.first {
    background-size: 600px;
    height: 34.375rem; //550px
  }

  .hero-image.second {
    top: 34.375rem + 2.8rem;
    background-size: 600px;
    height: 34.375rem;
  }

  .hero-image.third {
    top: 2 * 34.375rem + 2.8rem;
    background-size: 600px;
    height: 34.375rem;
  }

  .hero-image.fourth {
    top: 3 * 34.375rem + 2.8rem;
    background-size: 600px;
    height: 34.375rem;
  }
}

//420px
@media only screen and (max-width: 26.25em) {
  .hero-image.first {
    background-size: 450px;
    height: 31.25rem; //500px
    background-position-y: 10%;
  }

  .hero-image.second {
    top: 31.25rem + 2.8rem;
    background-size: 450px;
    height: 31.25rem;
    background-position-y: -20%;
  }

  .hero-image.third {
    top: 2 * 31.25rem + 2.8rem;
    background-size: 450px;
    height: 31.25rem;
    background-position-y: -20%;
  }

  .hero-image.fourth {
    top: 3 * 31.25rem + 2.8rem;
    background-size: 450px;
    height: 31.25rem;
    background-position-y: -20%;
  }
}
