.hero-image {
  position: absolute;
  left: 0;
  height: $hero-image-height-01; // 750px
  width: 100%;
  z-index: -1;
  background-color: $secondary-color;
  border-bottom: 1px solid $border-color-01;

  background-size: cover;

  &.first {
    top: $header-height;
    background: url("../images/hero-image-men-01.avif") no-repeat;
    background-size: 1450px;
    background-position-x: 50%;
    background-position-y: 50%;
  }

  &.second {
    top: $hero-image-height-01 + $header-height;
    background: url("../images/hero-image-explore-01.jpeg") no-repeat;
    background-size: 1700px;
    background-position-x: 50%;
    background-position-y: 80%;
    background-color: #cacaca;
  }

  &.third {
    top: 2 * $hero-image-height-01 + $header-height;
    background: url("../images/hero-image-women-01.jpg") no-repeat;
    background-size: 1500px;
    background-position-x: 50%;
    background-position-y: 55%;
  }

  &.fourth {
    top: 3 * $hero-image-height-01 + $header-height;
    background: url("../images/hero-image-explore-02.webp") no-repeat;
    background-size: 1500px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: #97abac;
  }

  &.fifth {
    top: 4 * $hero-image-height-01 + $header-height;
    background: url("../images/hero-image-kids-01.avif") no-repeat;
    background-size: 1450px;
    background-position-x: 50%;
    background-position-y: 50%;
  }

  &.sixth {
    top: 5 * $hero-image-height-01 + $header-height;
    background: url("../images/hero-image-explore-03.avif") no-repeat;
    background-size: 1550px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: #010101;
  }
}

.hero-content {
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  width: 80%;
  text-wrap: wrap;
  text-transform: uppercase;
  text-align: center;
  transform: translateX(-50%);

  h1 {
    font-family: "open-sans-condensed-bold";
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: $main-color;
    user-select: none;
  }

  a {
    font-size: 0.75rem;
    line-height: 5rem;
    padding: 0.5rem 2rem;
    color: $main-color;
    background-color: $secondary-color;
    user-select: none;
    border: 1px solid $border-color-01;
    border-radius: 0.2rem;

    &:hover {
      cursor: pointer;
      color: $secondary-color;
      background-color: $main-color;
      border: 1px solid $border-color-01;
      border-radius: 0.2rem;
    }
  }
}

.hero-content .white-heading {
  color: $secondary-color;
  //text-shadow: 1px 1px 10px rgb(101, 101, 101);
}

//---- MEDIA QUERY PRE 1100px A MENEJ ----

@media only screen and (max-width: 68.75em) {
  .hero-image {
    height: $hero-image-height-02; // 700px

    &.first {
      background-size: 1200px;
    }

    &.second {
      top: $hero-image-height-02 + $header-height;
      background-size: 1700px;
    }

    &.third {
      top: 2 * $hero-image-height-02 + $header-height;
      background-size: 1200px;
    }

    &.fourth {
      top: 3 * $hero-image-height-02 + $header-height;
      background-size: 1400px;
    }

    &.fifth {
      top: 4 * $hero-image-height-02 + $header-height;
      background-size: 1200px;
    }

    &.sixth {
      top: 5 * $hero-image-height-02 + $header-height;
      background-size: 1400px;
    }
  }
}

//---- MEDIA QUERY PRE 825px A MENEJ ----

@media only screen and (max-width: 51.5625em) {
  .hero-image {
    height: $hero-image-height-03; // 650px

    &.first {
      background-size: 1000px;
    }

    &.second {
      top: $hero-image-height-03 + $header-height;
      background-size: 1400px;
      background-position-y: 100%;
    }

    &.third {
      top: 2 * $hero-image-height-03 + $header-height;
      background-size: 1000px;
    }

    &.fourth {
      top: 3 * $hero-image-height-03 + $header-height;
      background-size: 1300px;
    }

    &.fifth {
      top: 4 * $hero-image-height-03 + $header-height;
      background-size: 1000px;
    }

    &.sixth {
      top: 5 * $hero-image-height-03 + $header-height;
      background-size: 1300px;
    }
  }
}

//---- MEDIA QUERY PRE 680px A MENEJ ----

@media only screen and (max-width: 42.5em) {
  .hero-image {
    height: $hero-image-height-04; // 600px

    &.first {
      background-size: 800px;
    }

    &.second {
      top: $hero-image-height-04 + $header-height;
      background-size: 1150px;
      background-position-y: -80%;
    }

    &.third {
      top: 2 * $hero-image-height-04 + $header-height;
      background-size: 800px;
    }

    &.fourth {
      top: 3 * $hero-image-height-04 + $header-height;
      background-size: 1200px;
    }

    &.fifth {
      top: 4 * $hero-image-height-04 + $header-height;
      background-size: 800px;
    }

    &.sixth {
      top: 5 * $hero-image-height-04 + $header-height;
      background-size: 1200px;
    }
  }
}

//---- MEDIA QUERY PRE 550px A MENEJ ----

@media only screen and (max-width: 34.375em) {
  .hero-image {
    height: $hero-image-height-05; // 550px

    &.first {
      background-size: 600px;
    }

    &.second {
      top: $hero-image-height-05 + $header-height;
      background-size: 1000px;
      background-position-y: -20%;
    }

    &.third {
      top: 2 * $hero-image-height-05 + $header-height;
      background-size: 600px;
    }

    &.fourth {
      top: 3 * $hero-image-height-05 + $header-height;
      background-size: 1100px;
    }

    &.fifth {
      top: 4 * $hero-image-height-05 + $header-height;
      background-size: 600px;
    }

    &.sixth {
      top: 5 * $hero-image-height-05 + $header-height;
      background-size: 1100px;
    }
  }
}

//---- MEDIA QUERY PRE 420px A MENEJ ----

@media only screen and (max-width: 26.25em) {
  .hero-image {
    height: $hero-image-height-06; // 500px

    &.first {
      background-size: 450px;
    }

    &.second {
      top: $hero-image-height-06 + $header-height;
      background-size: 900px;
      background-position-y: -30%;
    }

    &.third {
      top: 2 * $hero-image-height-06 + $header-height;
      background-size: 450px;
    }

    &.fourth {
      top: 3 * $hero-image-height-06 + $header-height;
      background-size: 1000px;
    }

    &.fifth {
      top: 4 * $hero-image-height-06 + $header-height;
      background-size: 450px;
    }

    &.sixth {
      top: 5 * $hero-image-height-06 + $header-height;
      background-size: 1000px;
    }
  }
}
