.hero-image {
  position: absolute;
  left: 0;
  height: $hero-image-height-01; // 750px
  width: 100%;
  z-index: -1;
  background-color: $secondary-color;
  border-bottom: 1px solid $border-color-01;

  &.first {
    top: $header-height;
    background: url("../images/hero-1.webp") no-repeat;
    background-size: 1500px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: #97abac;
  }

  &.second {
    top: $hero-image-height-01 + $header-height;
    background: url("../images/hero-2.webp") no-repeat;
    background-size: 1500px;
    background-position-x: 50%;
    background-position-y: 60%;
    background-color: #000000;
  }

  &.third {
    top: 2 * $hero-image-height-01 + $header-height;
    background: url("../images/hero-3.avif") no-repeat;
    background-size: 1300px;
    background-position-x: 50%;
    background-position-y: -120%;
    background-color: #f4f4f4;
  }

  &.fourth {
    top: 3 * $hero-image-height-01 + $header-height;
    background: url("../images/hero-4.webp") no-repeat;
    background-size: 520px;
    background-position-x: 50%;
    background-position-y: 250%;
    background-color: #070709;
  }
}

.hero-content {
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  width: 80%;
  text-wrap: wrap;
  text-transform: uppercase;
  text-align: center;
  transform: translateX(-50%);

  h1 {
    font-family: "open-sans-condensed-bold";
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: $main-color;
    user-select: none;
  }

  a {
    font-size: 0.75rem;
    line-height: 4rem;
    padding: 0.5rem 1.5rem;
    color: $main-color;
    background-color: $secondary-color;
    border: 1px solid $border-color-01;
    border-radius: 0.2rem;
    user-select: none;

    &:hover {
      cursor: pointer;
      color: $secondary-color;
      background-color: $main-color;
      border: 1px solid $border-color-01;
      border-radius: 0.2rem;
      transition: ease 0.5s;
    }
  }
}

.hero-content {
  & .white-heading {
    color: $secondary-color;
    //text-shadow: 1px 1px 10px rgb(101, 101, 101);
  }
  & .white-button {
    border-color: $secondary-color;
    &:hover {
      border: 1px solid $border-color-02;
    }
  }
}

.small-text {
  text-transform: lowercase;
}

//---- MEDIA QUERY PRE 1100px A MENEJ ----

@media only screen and (max-width: 68.75em) {
  .hero-image {
    height: $hero-image-height-02; // 700px

    &.first {
      background-size: 1400px;
    }

    &.second {
      top: $hero-image-height-02 + $header-height;
      background-size: 1400px;
    }

    &.third {
      top: 2 * $hero-image-height-02 + $header-height;
      background-size: 1200px;
    }

    &.fourth {
      top: 3 * $hero-image-height-02 + $header-height;
      background-size: 450px;
      background-position-y: -100%;
    }
  }
}

//---- MEDIA QUERY PRE 825px A MENEJ ----

@media only screen and (max-width: 51.5625em) {
  .hero-image {
    height: $hero-image-height-03; // 650px

    &.first {
      background-size: 1300px;
    }

    &.second {
      top: $hero-image-height-03 + $header-height;
      background-size: 1300px;
      background-position-y: 100%;
    }

    &.third {
      top: 2 * $hero-image-height-03 + $header-height;
      background-size: 1000px;
      background-position-y: 0%;
    }

    &.fourth {
      top: 3 * $hero-image-height-03 + $header-height;
      background-size: 420px;
    }
  }
}

//---- MEDIA QUERY PRE 680px A MENEJ ----

@media only screen and (max-width: 42.5em) {
  .hero-image {
    height: $hero-image-height-04; // 600px

    &.first {
      background-size: 1200px;
    }

    &.second {
      top: $hero-image-height-04 + $header-height;
      background-size: 1200px;
      background-position-y: -80%;
    }

    &.third {
      top: 2 * $hero-image-height-04 + $header-height;
      background-size: 800px;
      background-position-y: 30%;
    }

    &.fourth {
      top: 3 * $hero-image-height-04 + $header-height;
      background-size: 390px;
      background-position-y: -350%;
    }
  }
}

//---- MEDIA QUERY PRE 550px A MENEJ ----

@media only screen and (max-width: 34.375em) {
  .hero-image {
    height: $hero-image-height-05; // 550px

    &.first {
      background-size: 1100px;
    }

    &.second {
      top: $hero-image-height-05 + $header-height;
      background-size: 950px;
      background-position-y: -20%;
    }

    &.third {
      top: 2 * $hero-image-height-05 + $header-height;
      background-size: 800px;
      background-position-y: 20%;
    }

    &.fourth {
      top: 3 * $hero-image-height-05 + $header-height;
      background-size: 350px;
      background-position-y: -100%;
    }
  }
}

//---- MEDIA QUERY PRE 420px A MENEJ ----

@media only screen and (max-width: 26.25em) {
  .hero-image {
    height: $hero-image-height-06; // 500px

    &.first {
      background-size: 1000px;
    }

    &.second {
      top: $hero-image-height-06 + $header-height;
      background-size: 750px;
      background-position-y: 20%;
    }

    &.third {
      top: 2 * $hero-image-height-06 + $header-height;
      background-size: 650px;
      background-position-y: 20%;
    }

    &.fourth {
      top: 3 * $hero-image-height-06 + $header-height;
      background-size: 300px;
      background-position-y: -50%;
    }
  }
}

//---- MEDIA QUERY PRE 340px A MENEJ ----

@media only screen and (max-width: 21.25em) {
  .hero-content a {
    padding: 0.5rem 1rem;
  }
}
