.site-footer {
  position: relative;
  z-index: -10;
  left: 0;
  top: 4 * 46.875rem + 2.8rem;
  width: 100%;
  font-size: 0.75rem;
  background-color: $secondary-color;
}

.footer-content-desktop {
  display: flex;
  max-width: 131.25rem; //2100px
  width: 100%;
  margin: auto;

  div {
    width: 16.66%;
    padding: 1rem;
  }

  .box-1,
  .box-2,
  .box-3,
  .box-4,
  .box-5 {
    border-right: 1px solid $main-color;
  }

  h3 {
    text-transform: uppercase;
    padding: 0.5rem 0 1.5rem 0;
  }

  ul,
  li {
    flex-direction: column;
    white-space: wrap;
    line-height: 1rem;
    padding: 0 0 0.8rem 0;
  }

  a:hover {
    text-decoration: underline;
  }
}

.copyright {
  text-align: center;
  color: $main-color;
  padding: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.footer-content-tablet-mobile {
  display: none;
}

//---- media query pre 1100px a menej ----

@media only screen and (max-width: 68.75em) {
  .site-footer {
    top: 4 * 43.75rem + 2.8rem;
  }

  .footer-content-desktop {
    display: none;
  }

  .footer-content-tablet-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $secondary-color;

    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid $main-color;
      &:last-child {
        border-bottom: none;
      }
    }

    .accordion-label {
      position: relative;
      text-transform: uppercase;
      padding: 1rem 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    .accordion-content:hover {
      cursor: pointer;
    }

    ul {
      display: block;
      width: 100%;

      li {
        white-space: wrap;
        &:last-child {
          margin-bottom: 0.5rem;
        }
      }

      li a {
        width: 100%;
        padding: 1rem 1rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .accordion-label::after {
      content: "__";
      display: block;
      position: absolute;
      top: 55%;
      color: rgba(255, 255, 255, 0);

      transform: translateY(-50%);
      background: url("../../images/icons/other/arrow-down-300.svg");
      background-size: cover;
      background-repeat: no-repeat;
      right: 1rem;
      font-size: 1.6rem;
      transition: transform 0.3s;
    }

    .accordion-content,
    .accordion-input {
      display: none;
    }

    .accordion-input:checked ~ .accordion-content {
      display: block;
    }

    .accordion-input:checked ~ .accordion-label::after {
      transform: translateY(-50%) rotate(0.5turn);
    }
  }

  div.footer-whitespace {
    height: 2.5rem;
  }

  /* 
  // skryté
  block-size: 0;
  transition-property: block-size, content-visibility;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;

  // viditelné
  block-size: auto;
  block-size: calc-size(auto);
  */
}

//---- media query pre 825px a menej ----

@media only screen and (max-width: 51.5625em) {
  .site-footer {
    top: 4 * 40.625rem + 2.8rem;
    font-size: 0.875rem;
  }
}

//---- media query pre 680px a menej ----

@media only screen and (max-width: 42.5em) {
  .site-footer {
    top: 4 * 37.5rem + 2.8rem;
  }
}

//---- media query pre 550px a menej ----

@media only screen and (max-width: 34.375em) {
  .site-footer {
    top: 4 * 34.375rem + 2.8rem;
  }
}

//---- media query pre 420px a menej ----

@media only screen and (max-width: 26.25em) {
  .site-footer {
    top: 4 * 31.25rem + 2.8rem;
  }
}
