.main-nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $secondary-color;
  border-bottom: 1px solid $border-color-01;
  text-transform: uppercase;
}

header {
  min-height: $header-height;
  max-width: 131.25rem; //2100px
  display: flex;
  padding: 0;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
}

label.open-left-sidebar-button {
  background-color: $secondary-color;
}

ul,
li {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

a.logo {
  font-size: 0;
}

a {
  color: $main-color;
  text-decoration: none;
}

.primary-menu {
  position: absolute;
  margin-left: 0.8rem;
  overflow: hidden;

  a {
    padding: 0.4rem 0.4rem;
    margin-right: 0.4rem;

    border: 1px solid $border-color-02;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      border: 1px solid $border-color-01;
      border-radius: 4px;
      transition: ease 0.5s;
    }
  }

  #left-sidebar-search,
  .hide-on-desktop-menu,
  .hide-on-desktop-icons,
  .nav-icon.search {
    display: none;
  }
}

.secondary-menu {
  margin-right: 0.8rem;

  a {
    padding: 0.2rem 0.2rem;
    margin-left: 0.4rem;

    border: 1px solid $border-color-02;
    border-radius: 4px;

    a:hover {
      cursor: pointer;
      border: 0px;
    }
  }

  .nav-icon {
    min-height: 1.6rem;
    min-width: 1.6rem;
  }

  .nav-icon.search {
    display: block;
  }
}

.site-logo {
  position: absolute;
  left: 50%;
  top: 30%;
  height: 1.1rem;
  transform: translateX(-50%);
}

#left-sidebar-active,
.open-left-sidebar-button,
.close-left-sidebar-button {
  display: none;
}

//---- MEDIA QUERY PRE 825px A MENEJ ----

@media only screen and (max-width: 51.5625em) {
  .nav-icon.menu-search {
    display: inline-block;
    margin-left: 0.7rem;
    min-height: 2.2rem;
    min-width: 2.2rem;
  }

  .primary-menu {
    overflow-y: auto;
    margin-left: 0;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 100%;
    height: 100%;

    background-color: $secondary-color;
    border-right: 1px solid $border-color-01;
    transition: 0.25s ease-out;

    .primary-menu-header {
      color: $main-color;
      background-color: $secondary-color;

      &:hover {
        cursor: pointer;
        color: $secondary-color;
        background-color: $main-color;

        svg {
          fill: $secondary-color;
          border-right: 1px solid $border-color-01;
        }
      }
    }

    label {
      justify-content: flex-end;
      min-height: 2.875rem;

      h2 {
        position: absolute;
        //font-size: 0.875rem;
        top: 1rem;
        left: 45%;
      }

      .nav-icon.close {
        position: relative;
        margin: 0.5rem 0.6rem;

        min-height: 1.7rem;
        min-width: 1.7rem;
      }
    }

    .nav-icon.search {
      display: block;
      position: absolute;
      margin: 0.7rem 0.7rem 0.7rem 1rem;
      fill: $search-bar-color;
    }

    #left-sidebar-search {
      display: block;
      width: 100%;
      padding: 0.85rem 1.2rem 0.85rem 3.3rem;
      color: $search-bar-color;
      background-color: $secondary-color;

      font-family: "open-sans-regular";
      //font-size: 0.875rem;
      text-transform: uppercase;
      border-bottom: 1px solid black;
      border-radius: 0px;

      &:focus {
        outline: none !important;
      }
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }

    a {
      //font-size: 0.875rem;
      padding: 1rem 1rem;
      margin-right: 0rem;
      width: 100%;

      border-top: 0px;
      border-right: 0px;
      border-bottom: 1px solid $border-color-01;
      border-left: 0px;
      border-radius: 0px;

      &:hover {
        cursor: pointer;
        color: $secondary-color;
        background-color: $main-color;

        border-top: 0px;
        border-right: 0px;
        border-bottom: 1px solid $border-color-01;
        border-left: 0px;
        border-radius: 0px;
      }
    }

    ul {
      flex-direction: column;

      li {
        width: 100%;
      }
    }

    ul.hide-on-desktop-menu {
      display: flex;

      a {
        border-bottom: 0px solid #ff0000;
      }

      .first-link-with-margin {
        margin-top: 3.5rem;
      }
      .last-link-with-margin {
        margin-bottom: 3.5rem;
      }
    }

    .hide-on-desktop-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #c4c4c4;

      .hide-on-desktop-icons-list {
        display: flex;
        flex-direction: row;
      }

      img {
        margin: 1rem 0.2rem 1rem 0.2rem;
      }
    }
  }

  .open-left-sidebar-button,
  .close-left-sidebar-button {
    display: flex;
  }
  .close-left-sidebar-button {
    border-bottom: 1px solid $border-color-01;
  }

  #left-sidebar-active:checked ~ .primary-menu {
    left: 0;
  }

  .secondary-menu {
    a {
      font-size: 0;
      border: 0px;
      margin: 0;
      padding: 0;

      svg {
        min-height: 1.75rem;

        &.nav-icon.shopping-cart {
          margin-left: 0.5rem;
        }
      }
    }
  }

  .main-nav {
    svg.nav-icon.menu-search {
      margin-right: 0.5rem;
    }
  }

  .nav-icon.saved-items,
  .nav-icon.account,
  .secondary-menu .nav-icon.search {
    display: none;
  }
}
